@import '../../scss/vars';

.introduction {
    padding: 219px 0 160px;
    &__logo {
        img {
            width: 89px;
            height: 89px;
            border-radius: 50%;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 750px;
        h1 {
            font-weight: 600;   
            font-size: 52px;
            color: white;
            margin-right: 18px;
        }
    }
    &__span {
        color: #1F3A8A;
        padding: 3px 14px;
        background-color: #BEDBFE;
        font-weight: 400;
        border-radius: 10px;
        margin-right: 18px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        p {
            font-weight: medium;
            font-size: 24px;
        }
    }
    &__color {
        &_first {
            color: $yellow;
        }
        &_second {
            color: $red;
        }
        &_third {
            color: $blue;
        }
    }
    &__links {
        display: flex;
        margin-top: 20px;
        li {
            margin-right: 28px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__link {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .introduction {
        &__logo {
            text-align: center;
        }
        &__title {
            text-align: center;
            flex-direction: column;
            h1 {
                font-size: 30px;
                margin-bottom: 15px;
            }
        }
        &__info {
            margin: 30px 0;
            text-align: center;
            p {
                font-size: 18px;
            }
        }
        &__links {
            justify-content: space-between;
        }
    }
}
