@import '../../scss/vars';

.introduction {
    padding: 219px 0 160px;
    &__logo {
        img {
            width: 89px;
            height: 89px;
            border-radius: 50%;
        }
    }
    &__title {
        display: flex;
        align-items: center;
        h1 {
            font-weight: bold;   
            font-size: 52px;
            color: white;
            margin-right: 18px;
        }
        span {
            color: #1F3A8A;
            padding: 3px 14px;
            background-color: #BEDBFE;
            font-weight: medium;
            border-radius: 10px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        p {
            font-weight: medium;
            font-size: 24px;
        }
    }
    &__color {
        &_first {
            color: $yellow;
        }
        &_second {
            color: $red;
        }
        &_third {
            color: $blue;
        }
    }
    &__links {
        display: flex;
        margin-top: 20px;
        li {
            margin-right: 28px;
            &:last-child {
                margin-right: 0;
            }
        }

    }
}