$yellow: #FFEA9F;
$red: #FFBBC3;
$blue: #B6FBFF;
$mainFont: "Poppins", sans-serif;

// Header Border Animation Colors

$firstColor: #052b2f;
$secondColor: #073438;
$thirdColor: #0e4b50;
$fourthColor: #2d8f85;
$fifthColor: #637c54;