@import './_normalize.scss';
@import './_mixins.scss';
@import './vars.scss';

* {
    font-family: $mainFont;
    color: white;
}

* path {
    stroke: white;
}

.app {
    position: relative;
}

.test {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        color: white;
    }
}

.title__box {
    position: absolute;
    z-index: 200;
    overflow-y: hidden;
}

.titles {
    margin-right: 50px;
    font-size: 25px;
}

#title-1 {
    color: $yellow;
}

#title-2 {
    color: $red;
}

#title-3 {
    color: $blue;
}



body {
    overflow-y: scroll;
    background-color: #151515;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.9);
        left: 0;
        top: 0;
        z-index: 9;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    padding: 0 -15px;
    flex-wrap: wrap;
}

.col {
    &__12 {
        @include col(12);
    }
    &__11 {
        @include col(11);
    }
    &__10 {
        @include col(10);
    }
    &__9 {
        @include col(9);
    }
    &__8 {
        @include col(8);
    }
    &__7 {
        @include col(7);
    }
    &__6 {
        @include col(6);
    }
    &__5 {
        @include col(5);
    }
    &__4 {
        @include col(4);
    }
    &__3 {
        @include col(3);
    }
    &__2 {
        @include col(2);
    }
    &__1 {
        @include col(1);
    }
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}

@media (max-width: 1200px) {
    .container {
        max-width: 991px;
    }
    .col {
        &__6 {
            @include col(9);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
    .col {
        &__9 {
            @include col(12);
        }
        &__3 {
            @include col(9);
        }
    }
}

@media (max-width: 768px) {
    .col {
        &__6 {
            @include col(12);
        }
    }
    h1 {
        font-size: 30px;
    }
    .container {
        max-width: 567px;
    }
}

@media (max-width: 567px) {
    .container {
        max-width: 400px;
    }
}