@import '../../scss/vars';

.languages {
    padding-bottom: 70px;
    &__slider {
        width: 100%;
    }
    &__box {
        padding-top: 16px;

        li {
            margin-top: 15px;
        }
        span {
            color: $yellow;
        }
        p {
            color: white;
        }
    }
    @media (max-width: 768px) {
        &__box {
            max-width: 500px;  
        }
    }
    @media (max-width: 567px) {
        &__box {
            max-width: 300px;
        }
    }
}