.link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background-color: #2E2E2E;
    border: 1px solid #717171;
    border-radius: 40px;
    padding: 8px 15px;
    img {
        width: 33px;
        height: 33px;
        margin-right: 5px;
    }
}